/* Universal CSS */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif; /* Font from google fonts */
  font-size: 18px;
  background-image: url('images/barGradBG.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: auto;
  padding-left: auto;
  margin-right: auto;
  margin-left: auto;
  width: 380px;
  /*transform: translate(125%, 20%);*/
  color: white;
}

.main {
  border: 1px solid gray;
}

header img {
  display: flex;
  max-width: 150px;
}

h1 {
  text-align: center;
  color: white;
}

.userSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: auto;
  padding-left: auto;
  margin-right: auto;
  margin-left: auto;
  width: 380px;
  /*transform: translate(125%, 20%);*/
  color: white;
}

#js-form {
  width: 500px;
  font-size: 20px;
  overflow: hidden;
  padding: 8px 0;
  margin: 8px 0;
}

#js-search-term, #js-search-results {
  border: none;
  outline: none;
  background: none;
  color: white;
  margin: 10px 0;
  font-size: 18px;
  width: 100%;

  border-bottom: 1px solid;
}

#btn {
  width: 100%;
  background: none;
  border: 2px solid white;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.displayResults {
  display: flex;
  justify-content: space-evenly;
}

.displayResults h2 {
  align-self: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  border: 1px solid rgb(240, 230, 230);
  border-radius: 10px;
  max-width: auto;
  max-height: 500px;
  padding: 1em;
  margin: 25px;
  box-shadow: 5px 10px #2c2b2b;
  flex-wrap: wrap;
  background-color: rgb(104, 182, 182, 0.6);
  color: white;
}

/* Link styling */
a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: rgb(255, 196, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 94, 0);
  text-decoration: underline;
}

.result {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /*justify-content: center;*/
  justify-content: space-evenly;
  align-items: center;
}
.details p { 
  text-align: center;
}



/* CSS for tablets */
@media screen and (min-width: 426px) and (max-width: 1023px) {
  header {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex: 0 1 250px;
  }
  header > h1 {
      flex: 0 0 120;
      /* The above code sets flex-grow: 0; flex-shrink: 1; flex-basis: 120px */
  }
  
  #js-form {
    width: 350px;
    font-size: 20px;
    overflow: hidden;
    padding: 8px 0;
    margin: 8px 0;
  }
  
  #js-search-term, #js-search-results {
    border: none;
    outline: none;
    background: none;
    color: white;
    margin: 10px 0;
    font-size: 18px;
    width: 90%;
  
    border-bottom: 1px solid;
  }
  
  #btn {
    width: 90%;
    background: none;
    border: 2px solid white;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }


  .displayResults {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  /* sets the width of .product and allows for uniform sizing and spacing when in a single row */
  .result {
      width: 250px;
      margin: 10px;
      padding: 5px;
  }
}

/* CSS for mobile devices */
@media screen and (max-width: 425px) {

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: auto;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    /*transform: translate(125%, 20%);*/
    color: white;
  }

  #js-form {
    width: 350px;
    font-size: 20px;
    overflow: hidden;
    padding: 8px 0;
    margin: 8px 0;
  }
  
  #js-search-term, #js-search-results {
    border: none;
    outline: none;
    background: none;
    color: white;
    margin: 10px 0;
    font-size: 18px;
    width: 90%;
  
    border-bottom: 1px solid;
  }
  
  #btn {
    width: 90%;
    background: none;
    border: 2px solid white;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
  }

  .displayResults {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  /* sets the width of .product and allows for uniform sizing and spacing when in a single row */
  .result {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 250px;
    margin: 10px;
    padding: 5px;
  }
}
/* END OF CSS */